# Last match in file takes precedence.

# Server rules file
/Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml @TsjipTsjip @luckyshotpictures

# Anything workflow-related or related to github operations
.github @TsjipTsjip

# Anything database related
Content.Server.Database
Content.Shared.Database
