- type: job
  id: HeadOfSecurity
  name: job-name-hos
  description: job-description-hos
  playTimeTracker: JobHeadOfSecurity
  requirements:
    - !type:OverallPlaytimeRequirement # Umbra: Use Umbra Roletimers over Wizden.
      time: 21600 # 6 hrs
    #- !type:RoleTimeRequirement
    #  role: JobWarden
    #  time: 3600 #1 hr
    #- !type:RoleTimeRequirement
    #  role: JobDetective
    #  time: 3600 #1 hr, knowing how to use the tools is important
    #- !type:RoleTimeRequirement
    #  role: JobSecurityOfficer
    #  time: 18000 #5 hrs
    #- !type:DepartmentTimeRequirement
    #  department: Security
    #  time: 36000 # 10 hrs
  weight: 10
  startingGear: HoSGear
  icon: "JobIconHeadOfSecurity"
  supervisors: job-supervisors-captain
  canBeAntag: false
  access:
  - HeadOfSecurity
  - Command
  - Brig
  - Security
  - Armory
  - Maintenance
  - Service
  - External
  - Detective
  - Cryogenics
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff

- type: startingGear
  id: HoSGear
  equipment:
    # eyes: ClothingEyesGlassesSecurity  CD: Secglasses selector fix
    id: HoSPDA
    gloves: ClothingHandsGlovesCombat
    ears: ClothingHeadsetAltSecurity
    pocket1: WeaponPistolMk58
  storage:
    back:
    - Flash
    - MagazinePistol

- type: chameleonOutfit
  id: HeadOfSecurityChameleonOutfit
  job: HeadOfSecurity
  hasMindShield: true
  equipment:
    mask: ClothingMaskGasSecurity
    neck: ClothingNeckCloakHos
